.popup {
  width: 260px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: medium;
}

label {
  width: max-content;
  color: tomato;
  font-size: 14px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.description {
  font-size: 16px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 10px;
  color: gray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: medium;
  width: 260px;
  height: 280px;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(179, 176, 176);
}

.btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: teal;
  cursor: pointer;
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: tomato;
  margin: 10px 0 10px 10px;
}
.login {
  background-color: cornflowerblue;
  margin-right: 15px;
}
.register {
  background-color: darkorchid;
}
.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.containerLogOut {
  position: absolute;
  background-color: white;
  width: 320px;
  height: 60px;
  border-radius: 5px;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.welcomeUser {
  margin-top: 18px;
  font-size: 20px;
}

.delete-btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
  margin-top: 6px;
}

.delete-btn:disabled {
  background-color: rgb(174, 71, 52);
  color: rgb(187, 183, 183);
  cursor: default;
}
