.popup {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: medium;
}

label {
  width: max-content;
  color: tomato;
  font-size: 14px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.description {
  font-size: 16px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: medium;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(179, 176, 176);
}

.btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}
